@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p> PropertyFromNetStandard : @Model.PropertyFromNetStandard</p>
        <p> PropertyFromNetFramework : @Model.PropertyFromNetFramework</p>
        <p> PropertyFromSpecificNetFramework : @Model.PropertyFromSpecificNetFramework</p>
    </div>
